<%# <img id="map" src='https://api.mapbox.com/styles/v1/mapbox/streets-v11/static/2.3381,48.8693,10.45,0,0/600x1000?access_token=pk.eyJ1IjoiZ2FicmllbGhhc3NhbnVtYSIsImEiOiJjbDZnaHFwc2EwZ3p4M3BwOGt0cDM4cDI4In0.Eji73Jxr-UDuUDt9wBzgdg'> %>
<div class="banner margin-bottom", style="background-image: url(<%= image_path(@flat.poster_url) %>);">
  <%# <%= image_tag @flat.poster_url, class: "show-img" %> %>
  <% @flat.name %>
</div>
<div class="container">
  <h3><strong><%= @flat.name %></strong></h3>
  <p><%= @flat.address.upcase %></p>
  <h4>A little bit more about this flat...</h4>
  <p><%= @flat.description %></p>
  <h4>Details</h4>
  <p><%= @flat.price_per_night %>€ <%= @flat.number_of_guests %> guests</p>
</div>
