<h3><%= @flat.name %></h3>
<p><%= @flat.address.upcase %></p>
<h4>A little bit more about this flat...</h4>
<p><%= @flat.description %></p>
<h4>Details</h4>
<%= @flat.price_per_night %>
<%= @flat.number_of_guests %>
